<div *ngIf="selectedHero">
  <h2>{{selectedHero.name}} details!</h2>
  <div><label for="">id: </label>{{selectedHero.id}}</div>
  <div><label for="">name: </label><input [(ngModel)]="selectedHero.name" placeholder="name"></div>
</div>

<h2>My Heroes</h2>
<ul class="heroes">
  <li *ngFor='let hero of heroes' (click)="onSelect(hero)" [class.selected]="hero === selectedHero">
    <span class="badge">{{hero.id}}</span>
    <span>{{hero.name}}</span>
    <button class="delete" (click)="delete(hero);$event.stopPropagation()">X</button>
  </li>
</ul>
<div *ngIf="selectedHero">
  <h2>
    {{selectedHero.name | uppercase}} is my hero
  </h2>
  <button (click)="gotoDetail()">View Details</button>
</div>
<div class="add-hero">
  <label for="">Hero Name:</label><input #heroName (keyup)="onKey($event)" [(ngModel)]="hero.name">
  <button (click)="add(heroName.value); heroName.value=''">Add</button>
</div>