p {
    width: 200px;
    height: 50px;
    background: yellowgreen;
    text-align: center;
    line-height: 50px;
    margin: 50px auto;
}
.banner-box {
    width: 512px;
    height: 384px;
    margin: 0 auto;
    overflow: hidden;
}
.banner-box ul {
    width: 600%;
    padding: 0;
    transform: translate3d(0, 0, 0);
    position: relative;
}
.banner-box ul li {
    width: 512px;
    height: 384px;
    list-style: none;
    position: absolute;
}
.banner-box ul li img {
    width: 100%;
}
.button {
    text-align: center;
}